<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <style>
        .form-control:focus {
            border-color: #000;
            box-shadow: 0 0 0 0.25rem rgba(255, 204, 0, 0.25);
        }

        .btn-primary {
            background-color: #000;
            border-color: #000;
        }

            .btn-primary:hover {
                background-color: #000;
                border-color: #000;
            }
    </style>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
</head>
<body>
    <header>       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ViewLogin">Presentation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">                                
                                <form asp-controller="Auth" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link text-dark" style="border: none; background-color: transparent; cursor: pointer;">
                                        Logout
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewRegister">Registrar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewListUsers">Usuario</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewLogin">Login</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Presentation - <a asp-area="" asp-controller="Home" asp-action="ViewLogin">Login</a>
        </div>
    </footer>
    <script>
        window.addEventListener('load', function () {
            var tiempoCarga = performance.timing.loadEventEnd - performance.timing.navigationStart;
            evento('evento_detalle', { accion: 'pagina_completamente_cargada', detalle: 'Layout', tiempoCarga: tiempoCarga });
        });

        //Se separan los dos tipos de evento: tipo href
        document.addEventListener('DOMContentLoaded', function () {            
            const botonesConHref = document.querySelectorAll('a[href]');            
            botonesConHref.forEach(function (boton) {
                boton.addEventListener('click', function (event) {                    
                    const hrefValue = boton.getAttribute('href');
                    evento('evento_detalle', { accion: 'click_boton_tipo_a', detalle: hrefValue });
                });
            });
        });

        //Se separan los dos tipos de evento: tipo Button
        document.addEventListener('DOMContentLoaded', function () {            
            const botones = document.querySelectorAll('button');
            botones.forEach(function (boton) {
                boton.addEventListener('click', function (event) {                    
                    const contenidoBoton = boton.textContent;
                    evento('evento_detalle', { accion: 'click_boton', detalle: contenidoBoton });
                });
            });
        });

        function evento(evento, parametros) {
            fetch('/home/FirebaseConfig')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la configuración de Firebase');
                    }
                    return response.json();
                })
                .then(firebaseConfig => {
                    if (!firebase.apps.length) {
                        firebase.initializeApp(firebaseConfig);
                    }
                    const analytics = firebase.analytics();
                    analytics.logEvent(evento, parametros);
                    console.log('Evento enviado correctamente:', evento, parametros);
                })
                .catch(error => {
                    console.error('Error en fetch: ', error);
                });
        }

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>        
        setTimeout(function () {
            $("#userMessage").alert("close");
        }, 3000);
    </script>

</body>
</html>
